<nav class="navbar navbar-light" [ngStyle]="{backgroundColor: '#55B4B0', color: 'white'}">
  <a class="navbar-brand" [ngStyle]="{marginLeft: '1em', color: 'whitesmoke'}">
    <p *ngIf="this.userService.user"><span [ngStyle]="{color: 'black'}">{{"Hi "}}</span>{{this.userService.user.firstName}}</p>
    <p *ngIf="!this.userService.user">URL Shortener</p>
  </a>
  <!-- <a class="navbar-brand" [ngStyle]="{marginLeft: '1em', color: 'whitesmoke'}" [routerLink]="['/contact']">Contact Us</a> -->
  
  <div class="justify-content-between"> 
  <ul class="nav">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contact']" class="nav-link" href="#">Contact Us</a>
      </li>
    <button *ngIf="this.userService.user" class="btn" [ngStyle]="{marginRight: '1.5em', backgroundColor: '#4d4d4d', color: 'whitesmoke'}" (click)="this.userService.signOut()">Sign Out</button>
  </ul>
  </div>
</nav>